body {
  background-image: url("../img/woodbg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.brand-logo {
  font-family: 'Pinyon Script', cursive;
  text-shadow: 2px 2px 1px #fff;
}

.nav-wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

nav, .nav-wrapper {
  background: linear-gradient(180deg, #201F21, #3B393D, #3B393D);
}

.secondary {
  background: linear-gradient(180deg, #8F1614, #8F1614, #4C1614);
  font-weight: bold;
}

.main-cont {
  width: 100%;
  margin-left: 15%;
  margin-right: 0%;
}

.card, .col {
  min-width: 180px;
}

.pizzacard, .pizzacard-parent {
  min-height: 200px;
  min-width: 180px;
}

.form-value {
  position: absolute;
  bottom: 5%;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #8F1614;
}
.btn:hover, .btn:focus, .btn:active {
  background-color: #B01614;
}

#order {
  padding-left: 14px;
  line-height: 24px;
}

#toppingsOutput {
  padding-left: 12px;
}

#small-pizza {
  height: 80%;
  width: 80%;
}

#med-pizza {
  height: 90%;
  width: 90%;
}
