.brand-logo {
}

.nav-wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

.main-cont {
  width: 100%;
  margin-left: 15%;
  margin-right: 0%;
}

.card, .card-parent {
  min-height: 200px;
  min-width: 280px;
}

.form-value {
  padding-top: 50%;
}

#small-pizza {
  height: 80%;
  width: 80%;
}
